<?php

return PhpCsFixer\Config::create()
    ->setIndent("\t")
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'strict_comparison' => true,
        'yoda_style' => ['equal' => false, 'identical' => false],
    ])
    ->setFinder(PhpCsFixer\Finder::create()
                ->exclude('vendor')
                ->exclude('config')
                ->in(__DIR__)
    )
    ;
